<h1>Add Word</h1>

<p>Please input a word and its definition:</p>

<form action="/words" method="post">
  <label for="word">The word:</label>
  <input id="word" name="word" type="text">
  <label for="definition">The definition:</label>
  <input id="definition" name="definition" type="text">
  <button type="submit">Go</button>
</form>
